*{
    margin: 0px;
    padding: 0px;

}
header{
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    padding: 40px 130px;
    gap: 378px;
    
 }
 
.navlinks{
display: flex;
gap: 50px;
align-items: center;
}
.navlinks li{
    list-style: none;
}
.navlinks li a{
        text-decoration: none;
        color: black;
}
.navlinks button{
    background-color: #4CAF4F;
    width: 133.25px;
    height: 36.49px;
    border-radius: 2.78px;
    align-items: center;
    

}
.navlinks button a{
        text-decoration: none;
    list-style: none;
    color: white;

}
